.example-card {
  max-width: 400px;
}
  
.example-header-image {
  background-size: cover;
}

#background{
  background-image: url(https://images2.alphacoders.com/114/thumb-1920-1149602.jpg);
  background-size: cover;
  height: 768px;
}
